*{
    margin: 0;
    padding: 0;
    font-family: 'josefin Sans', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 115vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 8%;
    padding-right: 8%;
    
}







.logo{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 50px;
    letter-spacing: 1px;
    font-family: 'Lobster', cursive;
}


span{
    color: #f9004d;
    font-family: 'Lobster', cursive;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Kaushan Script', cursive;
}

nav ul li ::after {
    content: '';
    width: 0;
    height: 3px;
    background: #f9004d;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: .5s;
}

nav ul li :hover::after{
     width: 100%; 
}

.menu-icon{
    display: none;
}

#bars{
    color: #fff;
    font-size: 30px;
}

.side-nav{
    display: none;
}


.content{
    margin-left: 200px;
    
}

.content h4{
    margin-top: 170px;
    font-size: 35px;
    letter-spacing: 3px;
    color: #f7f7ff;
    text-transform: uppercase;
    animation: slideleft 1s linear forwards;
    animation-delay: 1s;
    opacity: 0;
}

.content h1 {
    text-decoration: none;
    font-size:60px;
    text-transform: uppercase;
    color: #fff;
    animation: slideleft 1s linear forwards;
    animation-delay: 2s;
    opacity: 0;
    font-family: 'Anek Devanagari',
    sans-serif;
}

.content span{
    font-family: 'Berkshire Swash', cursive;
    font-size: 90px;
}

.content h3{
    font-size: 20px;
    color: #fff;
    line-height: 35px;
    text-transform: uppercase;
    animation: slideleft 1s linear forwards;
    animation-delay: 3s;
    opacity: 0;
    font-family: 'Ubuntu',
    sans-serif; 
    
}
.content p{
    color: #fff;
    line-height: 30px;
    animation: slideleft 1s linear forwards;
    animation-delay: 4s;
    opacity: 0;
    font-family: 'Ubuntu',
    sans-serif;                                                                                                                                                                                                                                                                                                                                                                                 ;
}
   
.btn{
    margin-top: 50px;
    animation: slideleft 1s linear forwards;
    animation-delay: 5s;
    opacity: 0;
}
.button{
    text-decoration: none;
    text-transform: capitalize;
    background-color: #fff;
    padding: 15px 40px;
    color: #000;
    font-weight: bold;
    border-radius: 100px;
   
}

.btn a:hover{
    background-color: #f9004d;                                                                                                                                                                         
    color: #fff;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
    transition: 0.5s;
   
}


@keyframes slideleft {
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}


.socials{
   margin-top: 20px;
animation: slideleft 1s linear forwards;
animation-delay: 6s;
opacity: 0;
}

#social-link{
    font-size: 35px;
    color: #f9004d;
}
/*  ABOUT ME SECTION STYLING    */

.about-container{
    width: 100%;
    height: 120vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.body{
    display: block;
    justify-content: center;
    text-align: center;
    color: #fff;
    
}

.aboutme { 
 margin-top: 70px;
 
}

.aboutme h1{
    text-transform: uppercase;
    animation: slideleft 1s linear forwards;
    animation-delay: 1s;
    opacity: 0;
}

.aboutme p{
    margin-top: 50px;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Ubuntu',
    sans-serif;
    animation: slideleft 1s linear forwards;
    animation-delay: 2s;
    opacity: 0;
}

.skills{
    margin-top: 70px;
}

.skills h1{
    text-transform: uppercase;
    animation: slideleft 1s linear forwards;
    animation-delay: 3s;
    opacity: 0;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;

}
.fa-brands{
    font-size: 150px;
    margin: 30px;
    animation: slideleft 1s linear forwards;
    animation-delay: 4s;
    opacity: 0;
    transition: .5s;
}

.fa-brands:hover{
    transform: scale(1.1);
}

.fa-html5{
    color: red;
    
}

.fa-css3{
    color: blue;
}

.fa-js{
    color:rgb(226, 226, 46);
}

.fa-react{
    color: rgb(15, 164, 233);
}



@keyframes slideleft {
    0% {
        transform: translate(100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

/*   ABOUT ME STYLING END     */








/*     PROJECTS SECTION STYLING    */
  
.project-container{
    width: 100%;
    height: 180vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu',
            sans-serif;
}

.project{
   margin-top: 20px;
   text-align: center;
}

.project h1{   
     padding-top: 40px;
    color: #fff;
   text-transform: uppercase;
   font-size: 50px;
}

.project-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.card{
    width: 450px;
    height:380px;
    margin: 10px;
    border: 2px solid #3d3d44;
    border-radius: 15px;
}

.card-image1{
    background: url(./food.jpg) center/cover;
    height: 300px;
    border-radius: 10px 10px 0 0 ;
    transition: 0.5s;
}


.card a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    font-family: 'Ubuntu',
    sans-serif;
}

.card a:hover{
    text-decoration: underline;
    
}

.stack{
    color: #fff;
    display: flex;
  
}

.stack p{
    margin: 10px;
}

.html{
    background: red;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Ubuntu',
    sans-serif;
}


.css{
    background: blue;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Ubuntu',
    sans-serif;
}


.javascript{
    background: rgb(226, 226, 46);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Ubuntu',
    sans-serif;
}

.card-image2{
    background: url(./typing-test.jpg) center/cover;
    height: 300px;
    border-radius: 10px 10px 0 0 ;
    transition: 0.5s;
    background-size: cover;
}


.card-image3{
    background: url(./Screenshot\ 2022-12-14\ 10.34.23\ AM.png) center/cover;
    height: 300px;
    border-radius: 10px 10px 0 0 ;
    transition: 0.5s;
    background-size: cover;
}






/*   CONTACT STYLING   */

  
.contact-container{
    width: 100%;
    height: 113vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.contact{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

::placeholder{
    font-size: 13px;
    color: #fff;
    font-family: 'Ubuntu',
            sans-serif;
}

form h3{
    color: #fff;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 40px;
}

form input, form textarea{
     border: 2px solid #dd0d4f;
     margin: 10px 0;
     outline: none;
     padding: 20px;
     background: transparent;
     font-size: 10px;
     color: #fff;
     font-size: 15px;
     border-radius: 10px;

}

form button{
    padding: 15px;
    background: #fff;
    color: #000;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

form button:hover{ 
    background: #f9004d;
    transition: 0.2s;
    color: #fff;
}




/*    MEDIA QUARIES     */

@media (max-width:939px){
    .card {
        width: 600px; 
        height: 350px;
        margin: 10px;
        border: 2px solid #3d3d44;
        border-radius: 15px;
    }

    .project-container {
        width: 100%;
        height: 227vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./monitor.webp);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
}


@media (max-width:839px){

    /*   HOME STYLING*/

    .content{
        margin-left: 150px;
       
    }   
   /*  END     */

  /*   CONTACT STYLING */
form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 40px;

}

/*   PROJECT STYLING   */

.project-container{
    width: 100%;
    height: 250vh;
}

.project h1{
    padding-top: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 80px;
 }
 /*  END    */

  /*  ABOUT ME STYLING   */

  .body{
    display: block;
    flex: wrap;
    justify-content: center;
    text-align: center;
    color: #fff;
    
}
/*   END  */





/*   CARD STYLING    */
 .card{
    width: 600px;
    height:350px;
    margin: 10px;
    border: 2px solid #3d3d44;
    border-radius: 15px;
}


.project h1{   
    padding-top: 40px;
   color: #fff;
  text-transform: uppercase;
  font-size: 50px;
}
   
}


/*    @ MAX-WIDTH 800px*/

@media(max-width:800px){
    .content{
        margin-left: 130px;
      
    } 
    .project-container{
        width: 100%;
        height: 250vh;
}
.contact-container{
    width: 100%;
    height: 113vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav ul li{
    display: none;
    
}

.menu-icon {
    display: block;
}

#bars {
    color: #fff;
    font-size: 30px;
   
}

 .side-nav{
     display: block;
     height: 100%;
     width:0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background: #dd0d4f;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
 }

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 17px;
    color:#fff;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'Kaushan Script', cursive;
}
    
.side-nav a:hover{
    background: #28282f;
}

.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
    font-family: sans-serif;
}

    .project h1 {
        padding-top: 70px;
        color: #fff;
        text-transform: uppercase;
        font-size: 50px;
    }

}

@media(max-width:783px) {
    .about-container {
        width: 100%;
        height: 144vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./monitor.webp);
        background-repeat: no-repeat;
        background-size: cover;

    }
}

@media(max-width:738px) {
    .about-container {
        width: 100%;
        height: 153vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./monitor.webp);
        background-repeat: no-repeat;
        background-size: cover;

    }
}



@media (max-width:740px){
    .content{
        margin-left: 110px;
       
    } 
}


@media (max-width:710px){
    .content{
        margin-left: 70px;
       
    } 
}

@media(max-width:664px){
    .container {
        width: 100%;
        height: 120vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./monitor.webp);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
        .about-container {
            width: 100%;
            height: 158vh;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./monitor.webp);
            background-repeat: no-repeat;
            background-size: cover;
    
        }
    }
    



    @media(max-width:660px){
   
.card{
    width: 500px;
    height:350px;
    margin: 10px;
    border: 2px solid #3d3d44;
    border-radius: 15px;
}
}


  @media (max-width:602px){

.about-container{
    width: 100%;
    height: 130vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}

        .about-container {
            width: 100%;
            height: 158vh;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./monitor.webp);
            background-repeat: no-repeat;
            background-size: cover;
    
        }
  }

  @media(max-width:548px) {
    .container {
        width: 100%;
        height: 124vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./monitor.webp);
        background-repeat: no-repeat;
        background-size: cover;
    
    }
  }


@media(max-width:530px){
   
    .card{
        width: 450px;
        height:350px;
        margin: 10px;
        border: 2px solid #3d3d44;
        border-radius: 15px;
    }
    }

    @media(max-width:458px){

.about-container{
    width: 100%;
    height: 170vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}
    }

    @media(max-width:480px){
   
        .card{
            width: 400px;
            height:350px;
            margin: 10px;
            border: 2px solid #3d3d44;
            border-radius: 15px;
        }

          
.contact-container{
    width: 100%;
    height: 160vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
        }

    }
    @media(max-width:430px){
        
        .content{
            margin-left: 60px;
           
        } 

        .card{
            width: 380px;
            height:350px;
            margin: 10px;
            border: 2px solid #3d3d44;
            border-radius: 15px;
        }
        }


        @media(max-width:417px) {
            .container {
                width: 100%;
                height: 127vh;
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./monitor.webp);
                background-repeat: no-repeat;
                background-size: cover;
        
            }
        }

        @media(max-width:401px) {
        
            .about-container {
                width: 100%;
                height: 200vh;
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./monitor.webp);
                background-repeat: no-repeat;
                background-size: cover;
        


            }
        }

        @media(max-width:382px) {
        
            .about-container {
                width: 100%;
                height: 232vh;
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./monitor.webp);
                background-repeat: no-repeat;
                background-size: cover;
            
            }
        }

   @media(max-width:380px){
    .content{
        margin-left: 30px;
       
    } 
   }

@media(max-width:350px){
    .content {
        margin-left: 20px;
    }
}

   @media(max-width:340px){
    .content{
        margin-left: 10px;
       
    } 
   }

    @media(max-width:330px) {
        .content {
            margin-left: 2px;
    
        }
    }

   @media(max-width:320px){
    
    .content{
        margin-left: 30px;
    }
    .content h4{
        margin-top: 170px;
        font-size: 30px;
        letter-spacing: 3px;
        color: #f7f7ff;
        text-transform: uppercase;
        animation: moveInLeft 3s ease-in-out;
    }
    
    .content h1 {
        text-decoration: none;
        font-size:45px;
        text-transform: uppercase;
        color: #fff;
        animation: moveInRight 3s ease-in-out;
    }
    
    .content span{
        font-family: 'Berkshire Swash', cursive;
        font-size: 70px;
    }

     
.contact-container{
    width: 100%;
    height: 118vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}
   }

   @media(max-width:315px){

.about-container{
    width: 100%;
    height: 290vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}
   }

@media(max-width:317px){
#social-link {
    font-size: 30px;
    color: #f9004d;
}
}

   @media(max-width:315px){

    .about-container{
        width: 100%;
        height: 170vh;
        background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    #social-link {
        font-size: 27px;
        color: #f9004d;
    }
       }
    

       @media(max-width:294px){

        .about-container{
            width: 100%;
            height: 195vh;
            background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(./monitor.webp);
            background-repeat: no-repeat;
            background-size: cover;
            
        }

        #social-link {
            font-size: 24px;
            color: #f9004d;
        }
           }
        

   @media (max-width:265px){

    .project h1{   
        padding-top: 60px;
       color: #fff;
      text-transform: uppercase;
      font-size: 40px;
   }
   }







@media (min-width:800px){
    .navbar2{
    display: none;
    }

    #menu{
        display: none;
    }
}